@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #edf1f7 !important;
  padding-top: 70px;
}

:root {
  --main-color: #189cf4;
}

section {
  min-height: calc(100vh - 70px);
  display: grid;
  position: relative;
  place-items: center;
}

.font-size-14 {
  font-size: 14px;
}

.btn-default {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.btn-default.btn-small {
  text-transform: none;
  height: 36px;
  max-width: 94px;
}
.btn-default.btn-small.btn-edit {
  background: #feb300;
}
.btn-default.btn-small.btn-red {
  background: #e62739;
}
.btn-default:hover {
  box-shadow: 3px 3px 9px rgba(55, 170, 247, 0.3);
  color: #fff;
  background: linear-gradient(90deg, #6cc4ff 6%, #189cf4);
}

input {
  background-color: #fff;
  border: 1px solid rgba(138, 148, 166, 0.2);
  border-radius: 16px;
  height: 46px;
  position: relative;
  color: #33334f;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
  outline: none;
  transition: all linear 0.3s;
}

input:focus {
  border: 1px solid var(--main-color);
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.modal-header,
.modal-footer {
  border: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header a {
  text-decoration: none;
  font-size: 14px;
  color: #4e5d78;
}
.header .logo .left {
  color: var(--main-color);
}
.header .logo .right {
  color: black;
}
.header .logo span {
  font-size: 24px;
}
.header .nav-menu {
  display: flex;
  list-style-type: none;
}
.header .search-and-user {
  display: flex;
  align-items: center;
}

.fleet .car-img,
.favourites .car-img {
  border-radius: 16px;
}
.fleet .year,
.favourites .year {
  height: 30px;
  padding: 0 12px;
  border-radius: 12px;
  color: #33334f;
  font-size: 14px;
  font-weight: 600;
  border: 2px dashed rgba(24, 156, 244, 0.44);
}
.fleet .car,
.favourites .car {
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
}
.fleet .car-favorite,
.favourites .car-favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 12px;
  background-color: rgba(24, 156, 244, 0.12);
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
}
.fleet .car-favorite.favourited,
.favourites .car-favorite.favourited {
  background-color: rgba(235, 87, 87, 0.12);
}
.fleet .car-favorite.favourited svg,
.favourites .car-favorite.favourited svg {
  fill: #eb5757;
}
.fleet .car-favorite:hover,
.favourites .car-favorite:hover {
  background-color: rgba(235, 87, 87, 0.12);
}
.fleet .car-favorite:hover svg,
.favourites .car-favorite:hover svg {
  fill: #eb5757;
}
.fleet .body-card,
.favourites .body-card {
  padding: 20px 10px 10px;
}
.fleet .footer-card,
.favourites .footer-card {
  padding: 20px 10px 10px;
  margin-top: 10px;
  position: relative;
}
.fleet .footer-card::before,
.favourites .footer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: rgba(138, 148, 166, 0.22);
}

.spec-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.spec-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ff4500;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ff4500;
  cursor: pointer;
  border-radius: 50%;
}

.info-icon {
  font-size: 20px;
  color: #ff4500;
  cursor: pointer;
}

.sign__form {
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  width: 100%;
  max-width: 480px;
}
.sign__form .sign__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #4e5d78;
  width: 100%;
  text-align: center;
  display: block;
}
.sign__form .sign__text a {
  text-decoration: none;
  color: var(--main-color);
}

.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0;
  background-color: white;
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  width: 250px;
}

.sidebar ul.nav flex-column {
  padding-left: 0;
}

.sidebar-link {
  padding: 0.5rem 0.5rem;
  color: #6c757d;
  text-decoration: none;
}

.about-us {
  margin-bottom: 70px;
}
.about-us .step {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
}
.about-us .step__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  width: 50px;
  height: 50px;
  line-height: 100%;
  font-weight: 600;
  font-size: 22px;
  color: #189cf4;
  background-color: rgba(24, 156, 244, 0.2);
}
.about-us .step__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #33334f;
  margin-left: 15px;
}
.about-us .step__text {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #4e5d78;
  margin-bottom: 0;
  margin-top: 15px;
}
.about-us .main__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 70px;
}
.about-us .main__title h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  color: #33334f;
  font-size: 30px;
  position: relative;
  margin-bottom: 24px;
}
.about-us .team {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-us .team__img {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 15px;
}
.about-us .team__img img {
  width: 100%;
  transition: transform 0.5s ease;
}
.about-us .team__name {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #33334f;
  font-weight: 600;
  margin-bottom: 5px;
}
.about-us .team__position {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #4e5d78;
}
.about-us .team__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.about-us .team__social a {
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
}
@media (min-width: 576px) {
  .about-us .team {
    padding: 20px;
    background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
    box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
    border: 1px solid #fff;
    border-radius: 20px;
  }
}

.contact-us h1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  color: #33334f;
  font-size: 36px;
  line-height: 46px;
  margin-top: 50px;
}
.contact-us form {
  margin-top: 30px;
  padding: 20px 20px 15px;
  align-items: flex-start;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  width: 100%;
}
.contact-us .sign__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.contact-us .sign__input {
  background-color: #fff;
  border: 1px solid rgba(138, 148, 166, 0.2);
  border-radius: 16px;
  height: 46px;
  position: relative;
  color: #33334f;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
  transition: 0.5s ease;
  transition-property: color, border-color, box-shadow;
}
.contact-us .sign__btn {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #189cf4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}
.contact-us .sign__textarea {
  background-color: #fff;
  border: 1px solid rgba(138, 148, 166, 0.2);
  border-radius: 16px;
  height: 144px;
  position: relative;
  color: #33334f;
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
}
.contact-us .main__title--sidebar {
  margin-top: 30px;
}
.contact-us .main__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.contact-us .main__title p {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #4e5d78;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contact-us .contacts__list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.contact-us .contacts__list li {
  margin-bottom: 15px;
  list-style: none;
}
.contact-us .contacts__list a {
  font-size: 16px;
  color: #4e5d78;
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color, box-shadow;
}
.contact-us .contacts__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
.contact-us .contacts__social a {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
}
.contact-us .contacts__social a svg {
  width: 100%;
  height: auto;
  fill: #4e5d78;
  transition: fill 0.5s ease;
}

.car-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.car-details h1 {
  font-size: 36px;
  line-height: 46px;
}
.car-details .details {
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
}
.car-details .offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
}
.car-details .offer .offer__rent {
  width: 160px;
  height: 50px;
}
.car-details .offer .offer__price {
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  color: #33334f;
}
.car-details .offer .offer__price sub {
  font-size: 14px;
  bottom: 0;
  font-weight: 400;
}
.car-details .offer .offer__title {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #4e5d78;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.car-details .offer .offer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: -10px;
}
.car-details .offer .offer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 25px;
}
.car-details .offer .offer__list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(138, 148, 166, 0.22);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.car-details .offer .offer__list-name {
  font-size: 14px;
  color: #33334f;
  font-weight: 400;
}
.car-details .offer .offer__list-value--dark {
  color: #33334f;
}
.car-details .offer .offer__list-value {
  font-size: 14px;
  font-weight: 400;
}
.car-details .offer .offer__details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 992px) {
  .car-details .offer .offer__details li {
    width: 50%;
    margin-bottom: 15px;
  }
}
.car-details .offer .offer__details li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.car-details .offer .offer__details svg {
  width: 20px;
  height: auto;
  fill: #189cf4;
  margin-right: 6px;
}

.order-modal .modal-content {
  background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
  box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
  border: 1px solid #fff;
  padding: 20px;
  max-width: 420px;
  border-radius: 20px;
}
.order-modal .modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.order-modal .modal__form .modal__title {
  margin-bottom: 30px;
  font-weight: 400;
  color: #33334f;
  font-size: 20px;
  line-height: 26px;
}
.order-modal .modal__form .sign__group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.order-modal .modal__form .sign__label--modal {
  padding-left: 0;
}
.order-modal .modal__form .sign__label {
  font-weight: 400;
  font-size: 14px;
  color: #4e5d78;
  margin-bottom: 5px;
}
.order-modal .modal__form .sign__input {
  background-color: #fff;
  border: 1px solid rgba(138, 148, 166, 0.2);
  border-radius: 16px;
  height: 46px;
  position: relative;
  color: #33334f;
  font-size: 16px;
  width: 100%;
  padding: 0 20px;
}
.order-modal .modal__form .sign__radio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
}
.order-modal .modal__form .sign__radio li {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.order-modal .modal__form .sign__radio input:checked + label {
  color: #33334f;
}
.order-modal .modal__form .sign__radio label {
  display: block;
  margin: 0;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  color: #8a94a6;
  line-height: 24px;
  padding-left: 30px;
  transition: color 0.5s ease;
}
.order-modal .modal__form .sign__radio input:checked + label:before {
  border-color: #189cf4;
}
.order-modal .modal__form .sign__radio label:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 6px solid #8a94a6;
  background-color: transparent;
  border-radius: 50%;
  left: 0;
  top: 2px;
  transition: border-color 0.5s ease;
}
.order-modal .modal__form .sign__radio input:checked + label {
  color: #33334f;
}
.order-modal .modal__form .sign__radio input:not(:checked),
.order-modal .modal__form .sign__radio input:checked {
  position: absolute;
  left: -9999px;
}
.order-modal .modal__form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
